{
  "extension": [
    ".js"
  ],
  "exclude": [
    ".tmp/**",
    "tests/**",
    "virtual-stats.js"
  ],
  "reporter": [
    "lcov",
    "html",
    "text-summary"
  ],
  "report-dir": "./reports/coverage"
}